<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" ng-click="GGCtrl.irHome()">Inicio</a></li>
        <li class="breadcrumb-item active">Gestionar grado</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h1>GESTIÓN DE GRADOS</h1>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <h2>Datos del grado</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">Número de grado<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" maxlength="1" placeholder="Ingrese el número del grado" ng-model = "GGCtrl.grado.numeroGrado" ng-change="GGCtrl.revisarGrado()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-6 control-label m-t-10 m-b-0">Nivel<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <div class="select">
                          <select class="form-control"
                            placeholder="Seleccione un nivel académico..."
                            ng-model="GGCtrl.grado.nivel">
                            <option value="" disabled selected hidden class="placeholder-select">Seleccione un nivel académico...</option>
                            <option value="INICIAL" class="placeholder-select">INICIAL</option>
                            <option value="PRIMARIA" class="placeholder-select">PRIMARIA</option>
                            <option value="SECUNDARIA" class="placeholder-select">SECUNDARIA</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary waves-effect float-right" ng-click = "GGCtrl.agregarGrado()"><i class="fa fa-plus-circle"></i> Registrar Curso</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2>Listado de grados</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive p-r-0">
                  <table ng-table="GGCtrl.gradosTabla" class="table table-bordered">
                    <tr ng-repeat="grado in GGCtrl.gradosLista">
                      <td data-title="'Nro.'" align="center" width="5%">
                        {{$index + 1}}
                      </td>
                      <td data-title="'Grado'">
                        {{grado.nombre}}
                      </td>
                      <td data-title="'Eliminar'" align="center" width="7%">
                        <a href="" style="padding:3px;" ng-click="GGCtrl.eliminarGrado(grado)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
