<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-logo">
            <a href="#">
              <img src="images/icon/logo.png" alt="CoolAdmin">
            </a>
          </div>
          <div class="login-form">
            <form id="loginForm" class="ng-pristine ng-valid">
              <div class="form-group">
                <label>Email Address</label>
                <input type="text" id="user" name="user" class="au-input au-input--full" placeholder="Usuario" ng-model="username" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" id="password" name="password" class="au-input au-input--full" placeholder="Contraseña" ng-model="password" required>
              </div>
              <div class="login-checkbox">
                <label>
                  <!-- <input type="checkbox" name="remember">Remember Me -->
                </label>
                <label>
                  <a href="#">Forgotten Password?</a>
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Acceder</button>
              <!-- <div class="social-login-content">
                <div class="social-button">
                  <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                  <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                </div>
              </div> -->
            </form>
            <div class="register-link">
              <p>
                Don't you have account?
                <a href="#">Sign Up Here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
