<section>

  <md-toolbar>
    <md-truncate class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav()" class="md-raised md-primary">
        <i class="fas fa-bars"></i>
      </md-button>
      <!-- <md-button class="md-icon-button" ng-click="toggle()" hide-gt-sm aria-label="Toogle Menu">
        <ng-md-icon icon="{{icon}}"></ng-md-icon>
      </md-button> -->
      <h1>COLEGIO "SAN NICOLÁS"</h1>
    </md-truncate>
  </md-toolbar>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="closeEventsDisabled" md-whiteframe="4" md-disable-close-events>
      <md-toolbar class="md-theme-indigo">
        <div class="row-md-12 m-t-10">
          <div class="col-md-12" align="center">
            <div class="col-md-6 m-r-0" align="center" style="padding-top: 5px; float: left;">
              <h1>SGA</h1>
            </div>
            <div class="col-md-6 m-r-0" align="center" style="float: right;">
              <md-button ng-click="toggleSidenav()" class="md-raised md-primary">
                Cerrar Menú
              </md-button>
            </div>
          </div>
        </div>
        <md-divider class="m-t-10 m-b-20"></md-divider>
        <div class="row-md-12">
          <div class="col-md-12" align="center">
            <div class="image">
              <img src="app/images/logo.png" alt="LOGO SAN NICOLAS" width="35%" />
            </div>
          </div>
        </div>
        <br>
      </md-toolbar>

      <div id="parent">
        <div class="panel">
          <a href="" ng-click="RCtrl.irHome()">Inicio</a>
        </div>
        <div class="panel">
            <div data-toggle="collapse" data-parent="#parent" data-target="#alumnos">Alumnos</div>
            <div id="alumnos" class="collapse in">
                <a href="" ng-click="RCtrl.irRegistrarAlumno()">Registrar Alumno</a>
                <br>
                <a href="" ng-click="">Listar Alumnos</a>
            </div>
        </div>
        <div class="panel">
            <div data-toggle="collapse" data-parent="#parent" data-target="#docentes">Docentes</div>
            <div id="docentes" class="collapse in">
                <a href="" ng-click="RCtrl.irRegistrarDocente()">Registrar Docente</a>
                <br>
                <a href="" ng-click="">Listar Docentes</a>
            </div>
        </div>
        <div class="panel">
          <div data-toggle="collapse" data-parent="#parent" data-target="#child">Asistencia</div>
          <div id="child" class="collapse in">
            <a href="" ng-click="RCtrl.irLogin()">Aistencia 1</a>
            <br>
            <a href="" ng-click="">Aistencia 2</a>
          </div>
        </div>
        <div class="panel">
          <div data-toggle="collapse" data-parent="#parent" data-target="#child2">Notas</div>
          <div id="child2" class="collapse in">
            <a href="" ng-click="">Notas 1</a>
            <br>
            <a href="" ng-click="">Notas 2</a>
          </div>
        </div>
      </div>
      <md-divider></md-divider>
    </md-sidenav>

    <md-content flex layout-padding>
      <div ui-view></div>
    </md-content>
  </section>

</section>
