<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" ng-click="GDCtrl.irHome()">Inicio</a></li>
        <li class="breadcrumb-item active">Gestionar docente</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h1>GESTIÓN DE DOCENTES</h1>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <h2>Datos del docente</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">Nombres<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" placeholder="Ingrese los nombres del docente" ng-model = "GDCtrl.docente.nombres" ng-readonly="GDCtrl.disableDocente">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">Apellidos<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" placeholder="Ingrese los apellidos del docente" ng-model = "GDCtrl.docente.apellidos" ng-readonly="GDCtrl.disableDocente">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">DNI<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input type="tel" maxlength="8" title="Debe poner 8 números" class="form-control input-sm"  placeholder="Ingrese el DNI del docente" ng-model = "GDCtrl.docente.dni" ng-readonly="GDCtrl.disableDocente" ng-change="GDCtrl.revisarDNI()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">Correo<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" type="email" placeholder="Ingrese el correo del docente" ng-model = "GDCtrl.docente.correo" ng-readonly="GDCtrl.disableDocente">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">Tel&eacute;fono<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input type="tel" class="form-control input-sm" placeholder="Ingrese el teléfono del docente" ng-model = "GDCtrl.docente.telefono">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-4 control-label m-t-10 m-b-0">Direcci&oacute;n<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" placeholder="Ingrese la dirección del docente" ng-model = "GDCtrl.docente.direccion">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-danger waves-effect float-left" ng-click = "GDCtrl.cancelar()"><i class="fa fa-times"></i> Cancelar</button>
            <button ng-if="GDCtrl.disableDocente" class="btn btn-primary waves-effect float-right" ng-click = "GDCtrl.modificar()"><i class="fa fa-save"></i> Guardar cambios</button>
            <button ng-if="!GDCtrl.disableDocente" class="btn btn-primary waves-effect float-right" ng-click = "GDCtrl.agregarDocente()"><i class="fa fa-plus-circle"></i> Registrar Docente</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2>Lista de docentes activos</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive p-r-0">
                  <table ng-table="GDCtrl.tablaDocentes" class="table table-bordered">
                    <tr ng-repeat="docente in GDCtrl.docentesLista">
                      <td data-title="'Nro.'" align="center" width="5%">
                        {{$index + 1}}
                      </td>
                      <td data-title="'Nombre'">
                        {{docente.nombres + ' ' + docente.apellidos}}
                      </td>
                      <td data-title="'DNI'" align="center">
                        {{docente.dni}}
                      </td>
                      <td data-title="'Correo'">
                        {{docente.correo}}
                      </td>
                      <td data-title="'Teléfono'" align="center">
                        {{docente.telefono}}
                      </td>
                      <td data-title="'Dirección'">
                        {{docente.direccion}}
                      </td>
                      <td data-title="'Editar'" align="center" width="7%">
                        <a href="" style="padding:3px;" ng-click="GDCtrl.modificarDocente(docente)">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </td>
                      <td data-title="'Eliminar'" align="center" width="7%">
                        <a href="" style="padding:3px;" ng-click="GDCtrl.eliminarDocente(docente)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
